* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: lightskyblue;
}

.container {
  position: relative;
  width: 80vw;
  height: 60vh;
  top: 15vh;
  left: 10vw;
  padding: 10vw 10vh;
  display: grid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: yellow;
}

h2 {
  font-size: 40px;
  width: 4%;
}

.first_number,
.last_number {
  padding: 4% 7%;
  border-radius: 5px;
}

.first_number {
  width: 20%;
  border: 3px solid green;
}

.last_number {
  width: 20%;
  border: 3px solid blue;
}

.answer {
  width: 35%;
  height: 45px;
  border: 3px solid rgb(0, 94, 255);
  border-radius: 3px;
  padding: 5px 10px;
  font-size: 20px;
}

.check,
.next {
  padding: 12px 18px;
  background-color: red;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 17px;
}

.check:hover,
.next:hover {
  cursor: pointer;
}

.check:active,
.next:active {
  transform: scale(1.05);
}

.next {
  background-color: limegreen;
  position: absolute;
  top: 82%;
  left: 90%;
}
